# Ignore local builds
build/*

# Ignore local environment config
config/env/local

# Ignore configuration files that may contain sensitive information.
*/settings.php

# Ignore paths that contain generated content.
*/files
*/private/

# Ignore archives
*.tar
*.tar.gz

# Ignore sql dumps
*sql

# Ignore vim
*.swp

# Ignore PHPStorm
.idea/*

# Ignore Mac
.DS_Store
