export PROJECT_NAME=dkicker.git
export WEBSITE_DIR=$HOME/Sites/$PROJECT_NAME
export DRUPAL_CORE=drupal-7.31
export RETAIN_BUILDS=2
# export CACHE_CLEAR=http://www.dkicker.com/sites/default/opcache_reset.php?token=eVooqueungoo9bee0zujaequ7ochaoja
